.white {
    background-color: #FFFFFF
}
.silver {
    background-color: #C0C0C0
}
.gray {
    background-color: #808080
}
.red {
    background-color: #FF0000
}
.maroon {
    background-color: #800000
}
.yellow {
    background-color: #FFFF00
}
.olive {
    background-color: #808000
}
.lime {
    background-color: #00FF00
}
.green {
    background-color: #008000
}
.aqua {
    background-color: #00FFFF
}
.teal {
    background-color: #008080
}
.blue {
    background-color: #0000FF
}
.navy {
    background-color: #000080
}
.fuschia {
    background-color: #FF00FF
}
.purple {
    background-color: #800080
}
