
//White
.color-0 {
    background-color: #FFFFFF
}
//Silver
.color-1 {
    background-color: #C0C0C0
}
//Gray
.color-2 {
    background-color: #808080
}
//Red
.color-3 {
    background-color: #FF0000
}
//Maroon
.color-4 {
    background-color: #800000
}
//Yellow
.color-5 {
    background-color: #FFFF00
}
//Olive
.color-6 {
    background-color: #808000
}
//Lime
.color-7 {
    background-color: #00FF00
}
//Green
.color-8 {
    background-color: #008000
}
//Aqua
.color-9 {
    background-color: #00FFFF
}
//Teal
.color-10 {
    background-color: #008080
}
//Blue
.color-11 {
    background-color: #0000FF
}
//Navy
.color-12 {
    background-color: #000080
}
//Fuschia
.color-13 {
    background-color: #FF00FF
}
//Purple
.color-14 {
    background-color: #800080
}
